@import 'tailwindcss';

@theme {
  --color-primary-50: #e2e2f3;
  --color-primary-100: #c1c1e6;
  --color-primary-200: #8787cf;
  --color-primary-300: #4949b6;
  --color-primary-400: #303078;
  --color-primary-500: #18183c;
  --color-primary-600: #13132f;
  --color-primary-700: #0f0f24;
  --color-primary-800: #0a0a1a;
  --color-primary-900: #04040b;
  --color-primary-950: #030307;
}

html,
body {
  height: 100%;
}

button {
  cursor: pointer;
}
