@import 'tailwindcss';

@theme {
  --color-primary-50: #e2e2f3;
  --color-primary-100: #c1c1e6;
  --color-primary-200: #8787cf;
  --color-primary-300: #4949b6;
  --color-primary-400: #303078;
  --color-primary-500: #18183c;
  --color-primary-600: #13132f;
  --color-primary-700: #0f0f24;
  --color-primary-800: #0a0a1a;
  --color-primary-900: #04040b;
  --color-primary-950: #030307;
}

html,
body {
  height: 100%;
}

body[data-scroll-locked] {
  /* Radix-UI/select is manipulating this, it is fine for browsers, not so much for Electron window(s) */
  /* https://old.reddit.com/r/nextjs/comments/1cy83ko/radix_datascrolllocked/ */
  padding-left: 8px !important;
  padding-top: 8px !important;
  padding-right: 8px !important;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}
@keyframes swipeOut {
  from {
    transform: translateX(16px);
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastViewport {
  --viewport-padding: 25px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  max-width: 100vw;
  outline: none;
  padding: 25px;
  position: fixed;
  right: 0;
  width: 390px;
  z-index: 214;
}
.ToastRoot {
  align-items: center;
  background-color: var(--color-primary-400);
  border: 1px solid var(--color-primary-200);
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  column-gap: 15px;
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  padding: 15px;
}
.ToastRoot[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe='move'] {
  transform: translateX(16px);
}
.ToastRoot[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}
.ToastTitle {
  color: var(--color-primary-50);
  font-size: 15px;
  font-weight: 500;
  grid-area: title;
  margin-bottom: 5px;
}
.ToastDescription {
  color: var(--color-primary-100);
  font-size: 13px;
  grid-area: description;
  line-height: 1.3;
  margin: 0;
}
.ToastAction {
  grid-area: action;
}
